#bodyContent {
    width: 100%;
    height: 100%;
    margin: 15px; /* Space from this element (entire page) and others*/
    padding: 5px; /*space from content and border*/
    border-width: thin;
    overflow:hidden;
    display:block;
    box-sizing: border-box;
  }

  #alignRight {
    display: flex;
    align-items: right;
  }
